*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
  html
   {
    scroll-behavior: smooth;
   }
   body
   {
    font-family: 'Times New Roman', Times, serif;
   }

 .parent  
   {
    color: aquamarine;
    padding: 30px;
    width: 100px;
    height: 100px;
    display: flex;
   }
